*
{
    margin: 0;
    padding:0;
   overflow-x: hidden;
   
}
body
{
    background-color: rgba(0, 0, 0, 0.911);
}
/* Section-1 container */
.Section-1
{
   
    padding: 30px 60px;
    margin-bottom: 200px;
}
/* navbar-container */
.navbar-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 70px;   

}
/* Logo-image */
.logo-image
{
    width: 180px;
}
/* navbar-list */
.nav-list
{
    display: flex;
    list-style-type: none;
    gap:3em;
    font-family:"Roboto";
    font-weight: 600;
    font-size: 20px;
    color: #B1B1B1;
    
}

/* navbar-buttons */
div > button
{
    font-size: 20px;
    padding:10px 30px;
    background-color: transparent;
    border: none;
    color: #B1B1B1;
    font-weight: 600;
}
.btn-contact
{
    background:url("./Assets/Icons/btn-pink-bg.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
}
/* Section 1 Description */
.Description-1
{
    color:#ffffff;
}

.left
{
    width:80%;
    font-family:"Rubik";
    margin-left: 50px;
   
  
}
span
{
    color: #F637EC;
}
/* heading in section 1 */
.head-1
{   
    font-weight: lighter;
    font-size: 120px;
    margin-top: 130px;
    line-height: 160px;
   
}
/* Paragrapgh in section 1 */
.para-1
{
    color: #B1B1B1;
    font-size: 30px;
    font-weight: lighter;
    width:60%;
    margin-top: 40px;
    line-height:50px;
}

/* Get started button */
.get-started
{ 
    margin-top: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    background: url(./Assets/Icons/btn-pink-bg.svg) no-repeat;
    background-position: left;
    background-size: 90px;

    
}
/* User and Year count */
.count,.user-count ,.year-count
{
    display: flex;
    flex-wrap: wrap;
    padding-top:40px;
    align-items: center;
    justify-content: left;
   
}
.vector
{
    margin-top:60px;
    margin-right: 80px;
    height: 100px;
   
}

.user-count ,.year-count
{  

    font-family: "Montserrat";
    font-size: 30px;
}
.user-count p ,.year-count p
{
    font-size: 30px;
    width:40%;
    padding-left:20px ;
    

}

/* Right  */
.right>img
{
    position: absolute;
    width:1200px;
    object-fit: contain;
    object-position: left;
}

.back-cards
{
    z-index:0;
    right:10px;
    top:60px;
   

}
.front-cards
{
    z-index: 2;
    left:1000px;
    top:150px;
    

}


/* ====================================================Logo-container======================================================================= */

.logo-container
{
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 130px 200px;  
}


/*==================================================== Section 2======================================================================= */

.Section-2
{
    padding: 100px 150px;
   
}
.description-up
{
    display: flex;
    color: #ffffff;
    /* padding: 100px 150px; */
    justify-content: space-between;
    align-items: center;
   
}
.description-up h1
{
    font-family:"Rubik";
    font-weight: bolder;
    font-size: 100px;
    width: 60%;
    line-height: 140px;

}
.description-up p
{
    font-family:"Rubik";
    font-weight: normal;
    font-size: 32px;
    width: 32%; 
    color: #B1B1B1;
    line-height: 40px;
}
/* Bottom of section-2 */
.description-down
{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    
        
}

/* cloud , dollar , lock images */

.description-down img
{
    width:200px;
}

.dollar-div , 
.cloud-div ,
.lock-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border:3px solid white;
    width :500px;
    height: 450px;
    font-size: 22px;
    text-align: center;
    
}
.dollar-div , .lock-div
{
    margin-top: 300px ;
    background-color: #272727;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-right-width: 0.1px;
    border-image: linear-gradient(to right,#ffffff, #3a3a3a90) 100;
}
.cloud-div
{
    margin-top: 150px;
    background:linear-gradient(to right, #454140,#5A5A59);
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-image: linear-gradient(to right,#ffffff,#5A5A59) 100;
}
.cloud-div h1
{
  line-height: 1px;
    
}

/* ====================================Section 3============================= */
.section-3
{   
    background-color: #FCEFFB;
    text-align: center;
    padding-top: 100px;

    
}
.section-3 h1 
{
    font-size: 100px;
    padding: 100px 400px;
}
.section-3 p
{
    font-size: 30px;
    width: 900px;
    padding-left: 500px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #797479;
    font-weight: 500;
    line-height: 40px;
    position: absolute;    /* to keep the text above the image */
}
.section-3 img
{
    width: 1500px;
    position: relative;
}

/* =======================================Section 4==================================================== */
.section-4 
{
    text-align: center;
    padding-top: 200px;

}
.section-4 h1 
{
    font-size: 100px;
    padding-left: 300px;
    padding-right: 300px;
    color: #ffffff;
}
.section-4 p
{
    color: #afa0afec;
    font-size: 30px;
    padding-top: 100px;
    padding-left: 600px;
    padding-right: 600px; 
}

/* Section 4 Boxes of comments */

.Boxes
{
    color: #ffffffec;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap:140px 300px;
    padding: 100px 200px;
}
.box1,.box2,.box3,.box4
{
    border:1px solid white;
    width:600px;
    height: 300px;
    font-size: 25px;
    padding: 20px;
    background-color: #1E1F24;
    color: #B3B3B2;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-image: linear-gradient(to bottom,#ffffff,#4d4a49,#404040) 100;
   
}
.Boxes img
{
    width: 300px;
    padding-left: 20px;
}
.Boxes p
{
     padding: 30px 20px;
}
.Boxes span
{
    padding-left: 20px;;
}
.span-quote
{
    color:#B3B3B2;
    display: block;
    line-height: 40px;

}
.icon
{
     padding:40px 845px;

}
.fa-horizontal-rule
{
    width:100px;
    height: 20px;
    background-color: #ff37ee;
    color: #F637EC;
    border: none;
    border-radius: 20px;
    z-index: 3;
    position: relative;
    bottom:10px;
    
}


/* ===========================================Section - 5 ===================================================== */
.section-5
{
    padding-bottom: 100px;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    
}
.section-5 > img
{
    position: absolute;
}
.pink, .black
{
    width:100%;
  
}
.left-diamond ,.right-diamond
{
    z-index: 2;
    width: 700px;
    
}
.right-diamond
{
    right: 1px;
    margin-top: 50px;
}
.desc h1
{
    color:#ffffff;
   position: absolute;
   font-size: 90px;
   letter-spacing: 2px;
   padding: 0px 400px;
   padding-top:3%;
   text-align: center;
}
.desc > h1 > span
{
    color: #000000;
} 
.get-started1
{
    position: relative;
    margin-top: 25%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    background: url(./Assets/Icons/btn-pink-bg.svg) no-repeat;
    background-position: left;
    background-size: 90px;
    
}
/* =============================================Section 6 ========================================================================== */
.section-6
{
    margin-top: 200px;
    color: #ffffff;
    padding: 100px 0px;
    
}
.f-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding-left: 150px;
}
.footer-list
{
    display: flex;
    list-style-type: none;
    gap:3em;
    font-size: 20px;
}


   
  
/* ======================================================MEDIA-QUERIES====================================================== */

@media all and (min-width:960px) and (max-width: 1200px) 
{  
    .Section-1
    {
       
        padding: 30px 60px;
        margin-bottom: 100px;
    }
/* Logo-image */
.logo-image
{
    width: 100px;
}
.navbar-container
{
    width: 100vw;
   
}   

/* navbar-buttons */
div > button
{
    font-size: 16px;
    
}
.nav-btn
{
    display: flex;
}
/* heading in section 1 */
.head-1
{   
    font-weight: lighter;
    font-size: 60px;
    margin-top: 70px;
    line-height: 100px;
   
}

/* Paragrapgh in section 1 */
.para-1
{
    font-size: 25px;   
}

/* Get started button */
.get-started
{ 
    margin-top: 30px;

}
/* User and Year count */
.count,.user-count ,.year-count
{
    
    flex-wrap: nowrap;
    
   
}
.vector
{
  
    margin-right: 30px;
    height: 100px;
   
}

.user-count ,.year-count
{  

    font-size: 20px;
}
.user-count p ,.year-count p
{
    font-size: 20px;
}

/* Right  */
.right>img
{
    position: absolute;
    width:1000px;
}

.front-cards
{
    left:700px;
}


/* ====================================================Logo-container======================================================================= */

.logo-container
{
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 130px 200px;  
}


/*==================================================== Section 2======================================================================= */

.Section-2
{
    padding: 100px 150px;
   
}
.description-up
{
    display: flex;
    color: #ffffff;
    /* padding: 100px 150px; */
    justify-content: space-between;
    align-items: center;
   
}
.description-up h1
{
    font-family:"Rubik";
    font-weight: bolder;
    font-size: 100px;
    width: 60%;
    line-height: 140px;

}
.description-up p
{
    font-family:"Rubik";
    font-weight: normal;
    font-size: 32px;
    width: 32%; 
    color: #B1B1B1;
    line-height: 40px;
}
/* Bottom of section-2 */
.description-down
{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    
        
}

/* cloud , dollar , lock images */

.description-down img
{
    width:200px;
}

.dollar-div , 
.cloud-div ,
.lock-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border:3px solid white;
    width :500px;
    height: 450px;
    font-size: 22px;
    text-align: center;
    
}
.dollar-div , .lock-div
{
    margin-top: 300px ;
    background-color: #272727;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-right-width: 0.1px;
    border-image: linear-gradient(to right,#ffffff, #3a3a3a90) 100;
}
.cloud-div
{
    margin-top: 150px;
    background:linear-gradient(to right, #454140,#5A5A59);
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-image: linear-gradient(to right,#ffffff,#5A5A59) 100;
}
.cloud-div h1
{
  line-height: 1px;
    
}

/* ====================================Section 3============================= */
.section-3
{   
    background-color: #FCEFFB;
    text-align: center;
    padding-top: 100px;

    
}
.section-3 h1 
{
    font-size: 100px;
    padding: 100px 400px;
}
.section-3 p
{
    font-size: 30px;
    width: 900px;
    padding-left: 500px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #797479;
    font-weight: 500;
    line-height: 40px;
    position: absolute;    /* to keep the text above the image */
}
.section-3 img
{
    width: 1500px;
    position: relative;
}

/* =======================================Section 4==================================================== */
.section-4 
{
    text-align: center;
    padding-top: 200px;

}
.section-4 h1 
{
    font-size: 100px;
    padding-left: 300px;
    padding-right: 300px;
    color: #ffffff;
}
.section-4 p
{
    color: #afa0afec;
    font-size: 30px;
    padding-top: 100px;
    padding-left: 600px;
    padding-right: 600px; 
}

/* Section 4 Boxes of comments */

.Boxes
{
    color: #ffffffec;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap:140px 300px;
    padding: 100px 200px;
}
.box1,.box2,.box3,.box4
{
    border:1px solid white;
    width:600px;
    height: 300px;
    font-size: 25px;
    padding: 20px;
    background-color: #1E1F24;
    color: #B3B3B2;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-image: linear-gradient(to bottom,#ffffff,#4d4a49,#404040) 100;
   
}
.Boxes img
{
    width: 300px;
    padding-left: 20px;
}
.Boxes p
{
     padding: 30px 20px;
}
.Boxes span
{
    padding-left: 20px;;
}
.span-quote
{
    color:#B3B3B2;
    display: block;
    line-height: 40px;

}
.icon
{
     padding:40px 845px;

}
.fa-horizontal-rule
{
    width:100px;
    height: 20px;
    background-color: #ff37ee;
    color: #F637EC;
    border: none;
    border-radius: 20px;
    z-index: 3;
    position: relative;
    bottom:10px;
    
}


/* ===========================================Section - 5 ===================================================== */
.section-5
{
    padding-bottom: 100px;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    
}
.section-5 > img
{
    position: absolute;
}
.pink, .black
{
    width:100%;
  
}
.left-diamond ,.right-diamond
{
    z-index: 2;
    width: 700px;
    
}
.right-diamond
{
    right: 1px;
    margin-top: 50px;
}
.desc h1
{
    color:#ffffff;
   position: absolute;
   font-size: 90px;
   letter-spacing: 2px;
   padding: 0px 400px;
   padding-top:3%;
   text-align: center;
}
.desc > h1 > span
{
    color: #000000;
} 
.get-started1
{
    position: relative;
    margin-top: 25%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    background: url(./Assets/Icons/btn-pink-bg.svg) no-repeat;
    background-position: left;
    background-size: 90px;
    
}
/* =============================================Section 6 ========================================================================== */
.section-6
{
    margin-top: 200px;
    color: #ffffff;
    padding: 100px 0px;
    
}
.f-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding-left: 150px;
}
.footer-list
{
    display: flex;
    list-style-type: none;
    gap:3em;
    font-size: 20px;
}


}
/* ========================================================================= */
@media all and (min-width:769px) and (max-width: 959px)
{
   .Section-1
        {
           
            padding: 30px 60px;
            margin-bottom: 100px;
        }
    /* Logo-image */
    .logo-image
    {
        width: 100px;
    }
    .navbar-container
    {
        width: 100vw;
        align-items: center;

    }   
    .nav-list
    {
        margin: 0px 20px ;
        align-items: center;
        font-size: 16px;
    }
    /* navbar-buttons */
    div > button
    {
        font-size: 16px;
        
    }
    .nav-btn
    {
        display: flex;
    }
    /* heading in section 1 */
    .head-1
    {   
        
        font-size: 40px;
        margin-top: 25px;
        line-height: 70px;
       
    }
    
    /* Paragrapgh in section 1 */
    .para-1
    {
        font-size: 23px;   
    }
    
    /* Get started button */
    .get-started
    { 
        margin-top: 30px;
        font-size: 16px;
    
    }
    .get-started > img
    {
        width: 50px;
    }
    /* User and Year count */
    .count,.user-count ,.year-count
    {
        
        flex-wrap: nowrap;
    }
    .vector
    {
        margin-right: 20px;
        height: 100px;
   
    }
    
    .user-count ,.year-count
    {  
    
        font-size: 16px;
     
    }
    .user-count p ,.year-count p
    {
        font-size: 16px;
    }
    
    /* Right  */
    .right>img
    {
        /* position: absolute; */
        width:700px;
    }
    
    .front-cards
    {
        left:600px;
    }
    
}

@media all and (min-width:669px) and (max-width: 768px) 
{
    .Section-1
        {
           
            padding: 30px 60px;
            margin-bottom: 100px;
        }
    /* Logo-image */
    .logo-image
    {
        width: 100px;
    }
    nav
    {
        width: 100vw;
        align-items: center;
        font-size: 40px;
       

    }   
    .nav-list
    {
        margin: 0px 20px ;
        align-items: center;
        font-size: 16px;
       

    }
    /* navbar-buttons */
    div > button
    {
        font-size: 16px;
        
    }
    .nav-btn
    {
        display: flex;
    }
    /* heading in section 1 */
    .head-1
    {   
        
        font-size: 40px;
        margin-top: 25px;
        line-height: 70px;
       
    }
    
    /* Paragrapgh in section 1 */
    .para-1
    {
        font-size: 23px;   
    }
    
    /* Get started button */
    .get-started
    { 
        margin-top: 30px;
        font-size: 16px;
    
    }
    .get-started > img
    {
        width: 50px;
    }
    /* User and Year count */
    .count,.user-count ,.year-count
    {
        
        flex-wrap: nowrap;
    }
    .vector
    {
        margin-right: 20px;
        height: 100px;
   
    }
    
    .user-count ,.year-count
    {  
    
        font-size: 16px;
     
    }
    .user-count p ,.year-count p
    {
        font-size: 16px;
    }
    
    /* Right  */
    .right>img
    {
        /* position: absolute; */
        width:700px;
    }
    
    .front-cards
    {
        left:600px;
    }
    
}

@media all and (min-width:569px) and (max-width: 768px) {
  /* put your css styles in here */
}

@media all and (min-width:481px) and (max-width: 568px) {
  /* put your css styles in here */
}

@media all and (min-width:321px) and (max-width: 480px) {
  /* put your css styles in here */
}

@media all and (min-width:0px) and (max-width: 320px) {
  /* put your css styles in here */
}